.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  img {
    width: 150px;
    height: 150px;
  }

  p {
    font-size: 48px;
  }
}